<table width="100%" style="box-shadow: 0px 0px 4px 1px #B8B8B8; background-color: #ffffff; padding: 1em 2em 2em 2em; min-height: 200px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" style="padding-top:10px;">
                    <tbody>
                        <tr>
                            <td width="75px">
                                <img src="https://{{host}}/dist/images/icone/email-icone.png" />
                            </td>
                            <td align="left" style="font-weight: normal; font-size: 22px; color:#f26a94;">
                                Subscription to the newsletter
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="padding: 0 0 0 82px; color: #818181;">
                    <tbody>
                        <tr>
                            <td>
                                Meow {{nom}},<br/><br/>
                                We registered your subscription to the newsletter of <a href="https://{{host}}/" style="outline:none;text-decoration:none;border-top:none; border-left:none; border-right:none; color:#4bb6d1;">sayitwithkittens.io</a>.<br/><br/>
                                You will now receive all the new informations about the app.
                                <br/><br/>
                                Have a nice day.<br/><br/>
                                <div style="text-align:right">Say it with kittens team</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>