{% extends 'squelette.html.twig' %}

{% block header %}
	{% if kitten_img != "" %}
		<div class="bloc-header" style="background-image:url('../{{kitten_img}}')">
	{% else %}
		<div class="bloc-header">
	{% endif %}
	<div class="bloc-header-contenu generate">
		<div class="row txtcenter">
			<div class="col txtcenter pas bloc-mobile proxima-bold">
				<textarea type="text" name="texte" id="texte" 
				placeholder="Punchline" class="pas proxima-bold inbl w100" maxlength="50"></textarea>
			</div>
		</div>
		<div class="row txtcenter">
			<div class="col txtcenter pas bloc-mobile proxima-bold">
				<input type="text" name="pseudo" id="pseudo" 
				placeholder="Pseudo" class="pas proxima-bold inbl w100" maxlength="21"/>
			</div>
		</div>
		<div class="row txtcenter pts">
			<div class="col txtcenter pas bloc-mobile proxima-bold">
				<div class="regenerate inbl">
					<i class="icone-loop block"></i>
					<div class="mts h4-like">Change the kitten</div>
				</div>
			</div>
		</div>
		<div class="row txtcenter ptl mtl">
			<div class="col txtcenter pas bloc-mobile">
				<a href="#" class="h3-like proxima-bold transition not-a-like pts pbs plm prm" id="generate_it">Say it 
					<i class="fa fa-chevron-right h4-like txtmiddle"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<script>
preloadFields = function(){
	var txt = "";
	txt = sessionStorage.getItem("kitten_txt");

	var pseudo = "";
	pseudo = sessionStorage.getItem('kitten_pseudo');

	if(txt != "" && pseudo != ""){
		$('#texte').val(txt);
		$('#pseudo').val(pseudo);
	}
};

preloadFields();

$('.regenerate').click(function(){
	$('.icone-loop').addClass('rotating-droite');

	var bg = $('.bloc-header').css('background-image');
	bg = bg.split("/");
	bg = bg[bg.length-3]+'/'+bg[bg.length-2]+'/'+bg[bg.length-1];
	bg = bg.split(')')[0];

	var retour = file('/inc/ajax/change_kitten.php', 'bg='+bg);

	var img = new Image();

    img.onload = function() {
        $('.bloc-header').css('background-image', 'url("'+img.src+'")');
        $('.icone-loop').removeClass('rotating-droite');
    };

    img.src = "/"+retour+ "?_=" + (+new Date());
});

$('#generate_it').click(function(){
	$('*').css('cursor', 'progess');
	$('#generate_it').text("Generating");

	$('#generate_it').append('<span class="typed-text proxima-bold h3-like"></span>');

	$(".typed-text").typed({
        strings: ["^3..."],
        typeSpeed: 300,
        loop: true
      });

	var bg = $('.bloc-header').css('background-image');
	bg = bg.split("/");
	bg = bg[bg.length-3]+'/'+bg[bg.length-2]+'/'+bg[bg.length-1];
	bg = bg.split(')')[0];

	var pseudo = $('#pseudo').val();
	var texte = $('#texte').val();

	if(pseudo != "" && texte != ""){
		var retour = file('/inc/ajax/generate_image.php', 'kitten='+bg+'&pseudo='+pseudo+'&texte='+texte);
		alert(retour);
		if(retour != 'false'){
			sessionStorage.removeItem("kitten_txt");
			sessionStorage.removeItem("kitten_pseudo");
			// setTimeout(function(){ window.location.href = "/preview/"+retour; }, 1000);
			window.location.href = "/preview/"+retour;
		}
	}
});
</script>
{% endblock %}