{% extends 'squelette.html.twig' %}

{% block header %}
<div class="bloc-header">
	<div class="bloc-header-contenu index">
		<div class="row txtcenter">
			<div class="col txtcenter pas bloc-mobile example-text wendy">
				<span class="typed-text"></span>
				<!-- <span class="typed-cursor">|</span> -->
			</div>
		</div>
		<div class="row txtcenter ptl mtl">
			<div class="col txtcenter pas bloc-mobile">
				<a href="generate/" class="h3-like proxima-bold not-a-like pts pbs plm prm">Say something 
					<i class="fa fa-chevron-right h4-like txtmiddle"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	  $(function(){
	      $(".typed-text").typed({
	        strings: ["^1500Your balls are gross^1500", "I'll dine with your <br/>Mom tonight^1500", "Will you go to prom <br/>with me ?^1500"],
	        typeSpeed: 20,
	        loop: true
	      });
	  });
	</script>
{% endblock %}