{% extends 'squelette.html.twig' %}

{% block header %}
	{% if img.get('id_kitten') %}
		<div class="bloc-header" style="background-image:url('../assets/kittens/kitten_{{img.get('id_kitten')}}.jpg')">
	{% else %}
		<div class="bloc-header">
	{% endif %}
		<div class="bloc-header-overlay">
			<div class="bloc-header-contenu kitten">
				<div class="row txtcenter txtmiddle row-mobile">
					<div class="col txtcenter txtmiddle pas col-mobile">
						<img src="/assets/generate/kitten_{{kitten_img}}.png"/>
						<div class="kitten-options txtcenter proxima-bold row row-mobile h5-like">
							<div class="kitten-options-left col col-mobile w60">
								<div class="kitten-options-left-top pas pointer transition-fast">
									<span class="txtmiddle">Download <span class="tiny-hidden small-hidden">your kitten</span></span> &nbsp; <i class="fa fa-download txtmiddle"></i>
								</div>
								<div class="kitten-options-left-bottom clearfix">
									<div class="facebook w50 left inbl pas pointer transition-fast">
										<i class="fa fa-facebook"></i>&nbsp;
									</div>
									<div class="twitter w50 right inbl pas pointer transition-fast">
										<i class="fa fa-twitter"></i>&nbsp;
									</div>
								</div>
							</div>
							<div class="kitten-options-right col col-mobile w40 txtmiddle pas pointer transition-fast">
								<i class="fa fa-refresh fa-lg"></i>
								<div class="pts">Create another<span class="tiny-hidden small-hidden"> kitten</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}