{% extends 'squelette.html.twig' %}

{% block header %}
	{% if kitten_bg != "" %}
		<div class="bloc-header" style="background-image:url('../{{kitten_bg}}')">
	{% else %}
		<div class="bloc-header">
	{% endif %}
		<div class="bloc-header-overlay">
			<div class="bloc-header-contenu kitten">
				<div class="row txtcenter txtmiddle row-mobile">
					<div class="col txtcenter txtmiddle pas col-mobile">
						<img src="/assets/generate/kitten_{{kitten_img}}.png"/>
						<div class="kitten-options txtcenter proxima-bold row">
							<div class="kitten-options-left col w60">
								<div class="kitten-options-left-top">
									Download
								</div>
								<div class="kitten-options-left-bottom clearfix">
									<div class="facebook w50 left inbl">
										facebook
									</div>
									<div class="twitter w50 right inbl">
										twitter
									</div>
								</div>
							</div>
							<div class="kitten-options-right col w40 txtmiddle">
								Another
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}