{% extends 'squelette.html.twig' %}

{% block meta %}
	<title>Upload your photo - Say it with kittens</title>

	<!-- Facebook -->
	<meta property="og:title" content="Upload your photo - Say it with kittens">
	<meta property="og:type" content="website">
	<meta property="og:description" content="You want to see you cat's face on Sayitwithkittens ? Click here :)">
	<meta property="og:image" content="https://sayitwithkittens.io/dist/images/share-upload.jpg">
	<meta property="og:url" content="https://sayitwithkittens.io/upload/">
	<meta property="og:site_name" content="sayitwithkittens.io">
	<meta property="fb:admins" content="1614882856">

	<!-- Google+ -->
	<meta itemprop="name" content="Upload your photo - Say it with kittens">
	<meta itemprop="description" content="You want to see you cat's face on Sayitwithkittens ? Click here :)">
	<meta itemprop="image" content="https://sayitwithkittens.io/dist/images/share-upload.jpg">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@CBRPLX">
	<meta name="twitter:title" content="Upload your photo - Say it with kittens">
	<meta name="twitter:description" content="You want to see you cat's face on Sayitwithkittens ? Click here :)">
	<meta name="twitter:creator" content="@CBRPLX">
	<meta name="twitter:image:src" content="https://sayitwithkittens.io/dist/images/share-upload.jpg">
{% endblock %}

{% block header %}
	
<div class="bloc-header upload">
	{# <div class="bloc-header-contenu">
		<div class="row txtcenter">
			<div class="col txtcenter pas bloc-mobile example-text proxima-bold h2-like">
				You have a pretty cat photo ?
			</div>
		</div>
	</div> #}
</div>
{% endblock %}

{% block article %}
	<div class="bloc-contenu" id="bloc-contenu">
		<div class="bloc-article upload">
			<div class="bloc-article-container">
				<h1 class="proxima-bold txtcenter ptl pbn plm prm man">You have a pretty cat photo ?</h1>
				<h3 class="proxima txtcenter ptn pbl plm prm man">You can now upload it !</h3>

				<div class="row ptl pbl">
					<div class="col txtcenter prl pll pbl">
						<div class="bloc-rond upload txtcenter txt-middle row row-mobile">
							<i class="fa fa-paper-plane-o fa-2x col col-mobile txtmiddle"></i>
						</div>
						<h4 class="proxima pan man pts"><b>SEND</b></h4>
						<div class="justify pts">
							Choose the nicest photo of your cat and send it to us. It just have to be good quality and at least 1000 pixels wide.
						</div>
					</div>
					<div class="col txtcenter prl pll pbl">
						<div class="bloc-rond upload txtcenter txt-middle row row-mobile">
							<i class="fa fa-check-square-o fa-2x col col-mobile txtmiddle"></i>
						</div>
						<h4 class="proxima pan man pts"><b>CHECK</b></h4>
						<div class="justify pts">
							Your photo will be verified and accepted by our team if the content is appropriate and is not a duplicate.
						</div>
					</div>
					<div class="col txtcenter prl pll pbl">
						<div class="bloc-rond upload txtcenter txt-middle row row-mobile">
							<i class="fa fa-heart-o fa-2x col col-mobile txtmiddle"></i>
						</div>
						<h4 class="proxima pan man pts"><b>ENJOY</b></h4>
						<div class="justify pts">
							Now your photo is live and all the world can share some words on your cute cat's face. :)
						</div>
					</div>
				</div>

				<form id="upload_photo" class="pbl" enctype="multipart/form-data" novalidate>
					<div class="row">
						<div class="col prl pll pbs">
							<input type="text" name="nom_upload" id="nom_upload" placeholder="Last & First name" class="pas proxima-bold inbl w100" required />
						</div>
						<div class="col prl pll pbl">
							<input type="email" name="email_upload" id="email_upload" placeholder="Email" class="pas proxima-bold inbl w100" required />
						</div>
					</div>

					<div class="row pbl">
						<div class="col prl pll">
							<label class="block">
								<div class="photo-area txtcenter pointer">
									<div class="pal">
										<div class="txtcenter proxima-bold inbl pam pts pbs">
											<i class="fa fa-file-image-o mrs"></i>Choose your photo
										</div>
									</div>
									<img src="" class="pal ptn dnone" id="img_thumb"/>
								</div>
								<input type="file" name="input_photo" id="input_photo" class="dnone" 
								accept="image/*" required />
							</label>
						</div>
					</div>

					<div class="row pbl">
						<div class="col prl pll custom-checkbox">
							<input id="input_license" type="checkbox" />
							<label class="grey-background man txtmiddle" for="input_license"></label>
							<span class="txtmiddle proxima-bold pls pointer" id="label_input_license">I allow Sayitwithkittens.io to use my photo</span>
						</div>
					</div>

					<div class="row pbl">
						<div class="col prl pll">
							<button type="submit" name="upload_submit" id="upload_submit" 
							class="pas proxima-bold inbl w100 transition">
								<span id="submit-upload-msg">Send it</span> <i id="upload-icon" class="fa fa-paw mls"></i>
							</button>
			
							{% include "mail_warn.html.twig" with {'padding':'pts', 'id':'mail-warn-upload'} %}	
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		function readURL(input) {

		    if (input.files && input.files[0]) {
		        var reader = new FileReader();

		        reader.onload = function (e) {
		            $('#img_thumb').attr('src', e.target.result);
		            $("#img_thumb").removeClass('dnone');
		        }

		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$('#label_input_license').click(function(e){
			e.preventDefault();
			$('label.grey-background').trigger('click');
		});

		$("#input_photo").change(function(){
		    readURL(this);
		});

		$('#upload_photo').submit(function(e){
			e.preventDefault();

			if(document.getElementById("nom_upload").value != "" && document.getElementById("email_upload").value != "" && document.getElementById("input_photo").value != "" && $('#input_license').is(':checked')){

				document.getElementById("upload-icon").setAttribute("class", "fa fa-sun-o fa-spin mls");
				document.getElementById("submit-upload-msg").innerHTML = "Load ...";

				var $form = $(this);
				var formdata = (window.FormData) ? new FormData($form[0]) : null;
	        	var data = (formdata !== null) ? formdata : $form.serialize();

				$.ajax({
			       url : '/inc/ajax/upload_photo.php',
			       type : 'POST',
			       contentType: false,
			       processData: false,
			       data: data,
			       success: function (response) {
		                console.log(response);
		                if(response == "true"){
			                $("#upload_submit").addClass("news-deal");
							document.getElementById("upload-icon").setAttribute("class", "fa fa-check mls");
							document.getElementById("submit-upload-msg").innerHTML = "Thank you";
							document.getElementById("mail-warn-upload").style.display = "block";
						}else{
							$("#upload_submit").addClass("news-error");
							document.getElementById("upload-icon").setAttribute("class", "fa fa-times mls");
							document.getElementById("submit-upload-msg").innerHTML = "Error";
						}
		            },
		            error : function(resultat, statut, erreur){
			            $("#upload_submit").addClass("news-error");
						document.getElementById("upload-icon").setAttribute("class", "fa fa-times mls");
						document.getElementById("submit-upload-msg").innerHTML = "Error";
					}

			    });
			}else{
				$("#upload_submit").addClass("news-error");
				document.getElementById("upload-icon").setAttribute("class", "fa fa-times mls");
				document.getElementById("submit-upload-msg").innerHTML = "Error";
			}
		});
	</script>
{% endblock %}