@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.bloc-tablette {
		width: auto!important;
		display: block!important;
	}
}

@media (max-width: $small-screen) {
	.bloc-mobile {
		width: auto!important;
		display: block!important;
	}
}

@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.inline-tablette {
		width: auto!important;
		display: inline !important;
	}
}

@media (max-width: $small-screen) {
	.inline-mobile {
		width: auto!important;
		display: inline !important;
	}
}

#search-overlay{
	position: fixed;
	background-color: rgba(255,255,255,0.97);
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 9999;
	color: $rose;
	display: none;

	.close-search-overlay{
		font-size: 7em;
		position: absolute;
		line-height: 1em;
		top: 0;
		left: 0;
		cursor: pointer;

		@media (max-width: $tiny-screen) {
			position: relative;
			display: inline-block;
			padding: 0 !important;
			margin-bottom: 10px;
		}
	}

	.form-search{
		max-width: 800px;
		margin: auto;
		position: relative;

		#search-keywords{
			background-color: $white;
			display: block;
			font-size: 2em;
			width: 100%;
			min-width: 100%;
			border: 2px solid $rose;
			border-width: 2px !important;
			border-color: $rose;
			color: $rose;

			@include input-placeholder {
				color: $rose;
			}
		}

		#submit-form-search{
			display: none;
		}

		#label-submit-search{
			font-size: 2em;
			margin: 0;
			position: absolute;
			top: 2px;
			right: 2px;
			// height: 100%;
			// min-height: 100%;
			background-color: $white;
		}
	}
}

.menu-barre{
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 100%;
	color: $white;
	z-index: 999;

	.menu-barre-body{
		max-width: 90%;
		margin: auto;

		@media (max-width: $small-screen) {
			.pam{
				padding: 15px 7px 7px !important;
			}

			.menu-sharing-photo{
				padding-top: 25px !important;
			}
		}

		.menu-sharing-photo{
			padding-top: 23px !important;
		}
	}
}

.bloc-header{
	min-height: 465px;
	max-height: 100%;
	height: 100%;
	background-image: url('/assets/kittens/kitten_14.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50%;
	overflow: hidden;

	&.upload{
		max-height: 50%;
		height: 50%;
		min-height: 300px;
		background-image: url('/dist/images/upload.jpg');
	}

	a{
		color: $white;
		background-color: $rose;
		border-radius: 5px;
		border-bottom: 3px solid rgba(186, 65, 102, 0.8);

		&:hover{
			color: $white;
			background-color: #C54A6F;
		}
	}

	.bloc-header-overlay{
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		height: 100%;
	}

	.bloc-header-contenu{

		&.index{
			.row{
				position: relative;

				.col{
					width: 100%;

					&.example-text{
						padding-top: 17% !important;
						padding-bottom: 5% !important;
						font-size: 6em;
						min-height: 361px;
						@include text-shadow(rgba($noir, 0.5) 2px 2px);

						@media (max-width: $small-screen){
							font-size: 4em;
							padding-top: 24% !important;
						}

						@media (min-width: $small-screen + 1) and (max-width: $medium-screen){
							font-size: 5em;
						}

						.typed-text{
							-o-word-break: keep-all !important;
							-moz-word-break: keep-all !important;
							-webkit-word-break: keep-all !important;
							word-break: keep-all !important;

							-o-word-wrap:  normal !important;
							-moz-word-wrap:  normal !important;
							-webkit-word-wrap:  normal !important;
							word-wrap:  normal !important;
						}
					}
				}

				&:last-of-type{
					position: absolute;
					bottom: 10%;
					width: 100%;
				}
			}
		}

		&.generate{
			.row{

				.col{
					input, textarea{
						color: $rose;
						border: 2px solid $rose;
						background-color: rgba(255,255,255,0.9);
						max-width: 300px; 
						border-radius: 3px;
						font-size: 1.5em;

						@include input-placeholder{
							color: $rose;
						}
					}

					textarea{
						max-height: 150px;
						// height: 2em;
					}

					.regenerate{

						i{
							opacity: 0.9;
							cursor: pointer;
							margin:0 20px;
						}
					}
				}

				&:first-of-type{
					padding-top: 15% !important;
				}
			}
		}

		&.kitten{
			height: 100%;
			position: relative;

			&>.row{

				.col{

					img, .kitten-options{
						max-width: 50%;

						@media (max-width: $small-screen){
							max-width: 100%;
						}

						@media (min-width: $small-screen + 1) and (max-width: $medium-screen){
							max-width: 75%;
						}

						@media (min-width: 1846px){
							max-width: 904px;
						}
					}

					img{
						border: 2px solid $white;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}

					.kitten-options{
						border: 2px solid $white;
						border-top: none;
						margin: auto;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						vertical-align: middle !important;
						// width: 900px;

						@include word-break(keep-all !important);

						a{
							background-color: transparent;
							border: none;
						}

						.kitten-options-left-top, .kitten-options-right{
							background-color: rgba(242, 106, 148, 0);

							&:hover{
								background-color: $rose;
							}
						}

						.kitten-options-left{
							border-right: 2px solid $white;
							width: 60% !important;

							.kitten-options-left-top{
								border-bottom: 2px solid $white;
							}

							.kitten-options-left-bottom{


								.like{
									border-right: 2px solid $white;
									background-color: rgba(207, 46, 64, 0);

									&:hover, &.liked{
										background-color: rgba(207, 46, 64, 1);
									}
								}

								.facebook{
									border-right: 2px solid $white;
									background-color: rgba(59, 89, 152, 0);

									&:hover{
										background-color: rgba(59, 89, 152, 1);
									}
								}

								.twitter{
									background-color: rgba(29, 202, 255, 0);

									&:hover{
										background-color: rgba(29, 202, 255, 1);
									}
								}
							}
						}

						.kitten-options-right{
							width: 40% !important;
						}

						&.kitten-preview{
							margin-bottom: 49px;
							
							.kitten-preview-left{
								border-right: 2px solid $white;
								width: 50% !important;

								.kitten-cancel{
									&:hover{
										background-color: rgba(207, 46, 64, 1);
									}
								}
							}

							.kitten-preview-right{
								width: 50% !important;

								.kitten-validate{
									&:hover{
										background-color: #29A22D;
									}
								}
							}
						}
					}
				}

				&:first-of-type{
					height: 100%;
				}
			}

			.previous-kitten, .next-kitten{
				position: absolute;
				display: block;
				top: 48%;

				a{
					background-color: transparent !important;
					border: none !important;

					@include text-shadow(rgba(0,0,0,0.82) 1px 1px 2px);
				}

				@media (max-width: $small-screen){
					font-size: 2.2em;
					top: 40%;
				}
			}

			.previous-kitten{
				left: 0px;
			}

			.next-kitten{
				right: 0px;
			}
		}
	}
}

.bloc-rond {
	@include border-radius(50%);
	background-color: #FFFFFF;
	overflow: hidden;

	&.cadre {
		border: 1px solid $gris-font;
	}

	&.cadre-blanc{
		border: 3px solid $white;
	}
}

.bloc-footer{
	background-color: $white;
	color:$rose;
	background-position: 50% 82%;

	.bloc-footer-contenu{
		width: 100%;
		height: 100%;
		padding: 0 0 140px 0;
	}
}

.bloc-newsletter{
	padding: 140px 0;
	max-width: 600px;
	margin: auto;
	line-height: 1.2em;
	color: $rose;
	font-size: 1.2em;

	&>div{
		font-size: 0.85em;
	}

	form{
		div{
			input{
				border: 2px solid $rose !important;
				border-radius: 3px;
				color: $rose;
				background-color: $white;
				font-size: 1em;

				@include input-placeholder{
					color: $rose;
				}
			}

			button{
				background-color: transparent;
				color: $rose;
				width: 100%;
				border-radius: 3px;
				font-size: 1em;
				border: 2px solid $rose !important;
				border-bottom: 3px solid $rose !important;

				&:hover{
					background-color: $rose;
					color: $white;
				}

				&.news-error{
					color: $white;
					background-color: $rouge !important;
					border-color: $rouge !important;
				}

				&.news-deal{
					color: $white;
					background-color: rgba(60, 216, 35, 0.87) !important;
					border-color: rgba(60, 216, 35, 0.87) !important;
				}
			}

			&.w30{
				width: 35%;
			}



			@media (max-width: $small-screen) {
				width: 100% !important;
				padding: 0 !important;
			}
		}
	}
}

.bloc-contenu{

	.bloc-article{

		.bloc-article-container{
			max-width: 800px;
			margin: auto;
		}

		h1{
			font-size: 3em;
			color: $gris-upload;
		}

		h4{
			color: $gris-upload;
		}

		&.upload{
			background-color: rgb(226, 226, 226);

			&.index{
				color: $gris-upload;

				h2{
					font-size: 40px;
				}

				.logo-txt{
					border-left: 4px solid #4C4C4C;
				}

				a{
					border: 2px solid $gris-upload !important;
					border-radius: 3px;
					color: $gris-upload;
					background-color: transparent;
					font-size: 1em;
					margin: auto;
					border-bottom: 3px solid $gris-upload !important;

					&:hover{
						background-color: $gris-upload;
						color: $white;
					}
				}

				h3{
					color: $gris-font;
				}

				@media (max-width: $small-screen) {
					.w60, .w40{
						width: 100%;
					}

					.col.prl{
						padding-right:0 !important;
					}

					.col.pll{
						padding-left:0 !important;
					}

					.txtright{
						text-align: center;
					}

					a{
						width: 100%;
					}
				}
			}

			.bloc-rond{
				margin: auto;

				&.upload{
					width: 70px;
					max-width: 70px;
					height: 70px;
					background-color: transparent;
					color: $gris-upload;
					border: 2px solid $gris-upload;

					@media (max-width: $small-screen) {
						width: 60px;
						max-width: 60px;
						height: 60px;
					}

					i{
						vertical-align: middle !important;
					}
				}
			}
		}
	}
}

form{
	&#upload_photo{
		input{
			border: 2px solid $gris-upload !important;
			border-radius: 3px;
			color: $gris-upload;
			background-color: transparent;
			font-size: 1em;

			@include input-placeholder{
				color: $gris-upload;
			}
		}

		button{
			background-color: transparent;
			color: $gris-upload;
			width: 100%;
			border-radius: 3px;
			font-size: 1em;
			border: 2px solid $gris-upload !important;
			border-bottom: 3px solid $gris-upload !important;

			&:hover{
				background-color: $gris-upload;
				color: $white;
			}

			&.news-error{
				color: $white;
				background-color: $rouge !important;
				border-color: $rouge !important;
			}

			&.news-deal{
				color: $white;
				background-color: rgba(60, 216, 35, 0.87) !important;
				border-color: rgba(60, 216, 35, 0.87) !important;
			}
		}

		.photo-area{
			background-color: transparent;
			color: $gris-upload;
			width: 100%;
			border-radius: 3px;
			font-size: 1em;
			border: 2px dashed $gris-upload !important;

			background-size: cover;
			background-position: center;

			div{
				// color: $white;
				// background-color: $gris-upload;
				// max-width: 200px;
				margin: auto;
			}
		}
	}
}

.bloc-upload{
	// background-color: $gris-upload;
}