@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.bloc-tablette {
		width: auto!important;
		display: block!important;
	}
}

@media (max-width: $small-screen) {
	.bloc-mobile {
		width: auto!important;
		display: block!important;
	}
}

@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.inline-tablette {
		width: auto!important;
		display: inline !important;
	}
}

@media (max-width: $small-screen) {
	.inline-mobile {
		width: auto!important;
		display: inline !important;
	}
}

#search-overlay{
	position: fixed;
	background-color: rgba(255,255,255,0.97);
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 9999;
	color: $rose;
	display: none;

	.close-search-overlay{
		font-size: 7em;
		position: absolute;
		line-height: 1em;
		top: 0;
		left: 0;
		cursor: pointer;

		@media (max-width: $tiny-screen) {
			position: relative;
			display: inline-block;
			padding: 0 !important;
			margin-bottom: 10px;
		}
	}

	.form-search{
		max-width: 800px;
		margin: auto;
		position: relative;

		#search-keywords{
			background-color: $white;
			display: block;
			font-size: 2em;
			width: 100%;
			min-width: 100%;
			border: 2px solid $rose;
			border-width: 2px !important;
			border-color: $rose;
			color: $rose;

			@include input-placeholder {
				color: $rose;
			}
		}

		#submit-form-search{
			display: none;
		}

		#label-submit-search{
			font-size: 2em;
			margin: 0;
			position: absolute;
			top: 2px;
			right: 2px;
			// height: 100%;
			// min-height: 100%;
			background-color: $white;
		}
	}
}

.menu-barre{
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 100%;
	color: $white;
	z-index: 999;

	.menu-barre-body{
		max-width: 90%;
		margin: auto;

		@media (max-width: $small-screen) {
			.pam{
				padding: 15px 7px 7px !important;
			}
		}
	}
}

.bloc-header{
	min-height: 465px;
	max-height: 100%;
	height: 100%;
	background-image: url('/assets/kittens/kitten_14.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50%;
	overflow: hidden;

	a{
		color: $white;
		background-color: $rose;
		border-radius: 5px;
		border-bottom: 3px solid rgba(186, 65, 102, 0.8);

		&:hover{
			color: $white;
			background-color: #C54A6F;
		}
	}

	.bloc-header-overlay{
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		height: 100%;
	}

	.bloc-header-contenu{

		&.index{
			.row{
				position: relative;

				.col{
					width: 100%;

					&.example-text{
						padding-top: 17% !important;
						padding-bottom: 5% !important;
						font-size: 6em;
						min-height: 361px;
						@include text-shadow(rgba($noir, 0.5) 2px 2px);

						@media (max-width: $small-screen){
							font-size: 4em;
							padding-top: 24% !important;
						}

						@media (min-width: $small-screen + 1) and (max-width: $medium-screen){
							font-size: 5em;
						}
					}
				}

				&:last-of-type{
					position: absolute;
					bottom: 10%;
					width: 100%;
				}
			}
		}

		&.generate{
			.row{

				.col{
					input, textarea{
						color: $rose;
						border: 2px solid $rose;
						background-color: rgba(255,255,255,0.9);
						max-width: 300px; 
						border-radius: 3px;
						font-size: 1.5em;

						@include input-placeholder{
							color: $rose;
						}
					}

					textarea{
						max-height: 150px;
						// height: 2em;
					}

					.regenerate{
						cursor: pointer;

						i{
							opacity: 0.9;
						}
					}
				}

				&:first-of-type{
					padding-top: 15% !important;
				}
			}
		}

		&.kitten{
			height: 100%;

			&>.row{

				.col{

					img, .kitten-options{
						max-width: 50%;

						@media (max-width: $small-screen){
							max-width: 100%;
						}

						@media (min-width: $small-screen + 1) and (max-width: $medium-screen){
							max-width: 75%;
						}
					}

					img{
						border: 2px solid $white;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}

					.kitten-options{
						border: 2px solid $white;
						border-top: none;
						margin: auto;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						vertical-align: middle !important;

						.kitten-options-left{
							width: 66%;
							border-right: 2px solid $white;

							.kitten-options-left-top{
								border-bottom: 2px solid $white;
							}

							.kitten-options-left-bottom{
								.facebook{
									border-right: 2px solid $white;
								}
							}
						}

						.kitten-options-right{
							width: 33%;
						}
					}
				}

				&:first-of-type{
					height: 100%;
				}
			}
		}
	}

	// .bloc-header-contenu{
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgba(0,0,0,0.67);
	// 	padding-top: 20px;

	// 	.row{
	// 		// height: 50%;

	// 		&:first-of-type{
	// 			padding-top: 10%;
	// 			@media (max-width: $small-screen) {
	// 				padding: 0;
	// 			}
	// 		}

	// 		.col{
	// 			height: 100%;

	// 			&.w50{
	// 				@media (max-width: $small-screen) {
	// 					width: 100%;
	// 					height: auto;
	// 					display: block;
	// 				}
	// 			}

	// 			&.txtright{
	// 				padding-right: 150px !important;

	// 				@media (max-width: $small-screen) {
	// 					padding: 1em !important;
	// 					text-align: center;
	// 				}
	// 			}

	// 			&.txtleft{
	// 				line-height: 30px;

	// 				@media (max-width: $small-screen) {
	// 					padding: 1em;
	// 				}
	// 			}

	// 			.photo-profil{
	// 				width: 150px;
	// 				height: 150px;
	// 				background-image: url("/dist/images/photo-profil.jpg");
	// 				background-size: 150px 150px;
	// 			}
	// 		}

	// 		&+.row{
	// 			padding-top: 8%;
	// 		}

	// 		&:last-of-type{
	// 			padding: 0 0 1em 0;
	// 			position: absolute;
	// 			width: 100%;
	// 			bottom: 0;

	// 			@media (max-height: 465px) {
	// 				position: relative;
	// 				padding-top: 2em;
	// 			}

	// 			.icone-fleche-bas{
	// 				cursor: pointer;
	// 			}
	// 		}
	// 	}
	// }
}

.bloc-rond {
	@include border-radius(50%);
	background-color: #FFFFFF;
	overflow: hidden;

	&.cadre {
		border: 1px solid $gris-font;
	}

	&.cadre-blanc{
		border: 3px solid $white;
	}
}

.bloc-footer{
	background-color: $white;
	color:$rose;
	background-position: 50% 82%;

	.bloc-footer-contenu{
		width: 100%;
		height: 100%;
		// background-color: rgba(0,0,0,0.67);
		padding: 0 0 140px 0;
	}
}

.bloc-newsletter{
	padding: 140px 0;
	max-width: 600px;
	margin: auto;
	line-height: 1.2em;
	color: $rose;
	font-size: 1.2em;

	&>div{
		font-size: 0.85em;
	}

	form{
		div{
			input{
				border: 2px solid $rose !important;
				border-radius: 3px;
				color: $rose;
				background-color: $white;
				font-size: 1em;

				@include input-placeholder{
					color: $rose;
				}
			}

			button{
				background-color: transparent;
				color: $rose;
				width: 100%;
				border-radius: 3px;
				font-size: 1em;
				border: 2px solid $rose !important;
				border-bottom: 3px solid $rose !important;

				&:hover{
					background-color: $rose;
					color: $white;
				}

				&.news-error{
					color: $white;
					background-color: $rouge !important;
					border-color: $rouge !important;
				}

				&.news-deal{
					color: $white;
					background-color: rgba(60, 216, 35, 0.87) !important;
					border-color: rgba(60, 216, 35, 0.87) !important;
				}
			}

			&.w30{
				width: 35%;
			}



			@media (max-width: $small-screen) {
				width: 100% !important;
				padding: 0 !important;
			}
		}
	}
}

.bloc-container{
}