.btn{
	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}

.btn-header{
	border: 1px solid $white;
	border-radius: 3px;
	border-bottom: $white 3px solid;

	&:hover{
		text-decoration: none;
		background-color: $white;
		color: $gris-title !important;
	}
}

.btn-submit{
	// color: $bleu-link;
}

.btn-style{
	// background-color: $bleu-link;
	border-radius: 3px;
	border: 2px solid $bleu-link-border;
	color: $bleu-link-border;
	border-bottom: $bleu-link-border 3px solid;
	font-size: 18px;

	// @include text-shadow($txt-shadow);

	&:hover{
		color: $white;
		background-color: $bleu-link-border;
	}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @-ms-keyframes #{$name} {
    @content
  }
  @-o-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}

.custom-checkbox{
	label {
		display: inline-block;
		user-select: none;
		position: relative;
		width: 20px;
		height: 20px;
		border: 2px solid $gris-upload;
		@include border-radius(3px);
		@include transition-duration(0.25s);
		cursor: pointer;
		overflow: hidden;
		color: $gris-upload;
		text-align: center;
		margin: 2rem;
		&:after {
			content: '';
			display: block;
			margin-left:5px;
			margin-top:1px;  
			width: 4px;
			height: 9px;
			border: solid rgba(0, 0, 0, 0.1);
			border-width: 0 3px 3px 0;
			@include transform(rotate(45deg)); 
		}
	}

	input {
		display: none;
		&:checked + {
			label {
			  color: $gris-upload;
			}
			.grey-background {
				border-color: $gris-upload;
				background: $gris-upload;
				&:after{
				  content: '';
				  display: block;
				  margin-left:5px;
				  margin-top:1px;  
				  width: 4px;
				  height: 9px;
				  border: solid rgba(255, 255, 255, 1);
				  border-width: 0 3px 3px 0;
				  @include transform(rotate(45deg)); 
				}
		    }
			label {
			  @include animation(boom 0.5s ease);
			}
		}
	}
}

//Custom select
.form-custom-select{
	@include user-select(none);
    overflow: hidden;
}

select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 10px;
    // End of brutal hack

    @include appearance(none);

    &[multiple=multiple] {
        height: auto;
    }

    option[disabled] {
        color: #eeeeee;
        text-shadow: none;
        border: none;
    }
}

select:-moz-focusring {
    color: transparent;
}

select::-ms-expand {
    display: none;
}